<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Knowledge sharing</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Articles and presentations.</p>
<div class="knowledge-sharing-container">
  <h2 class="knowledge-sharing">
    <a href="https://gist.github.com/tanhengyeow/eaa3576e3aa333db7a7d86c3fde9ccd9" target="_blank">Google Summer of Code 2019: WebSocket Monitor</a>
  </h2>
  <h2 class="knowledge-sharing">
    <a href="https://se-education.org/learningresources/contents/uix/design-systems.html" target="_blank">Book chapter on Design Systems</a>
  </h2>
  <h2 class="knowledge-sharing">
    <a href="https://github.com/nus-cs3281/2019/issues/36" target="_blank">Making everybody's lives easier with Design Systems</a>
  </h2>
  <h2 class="knowledge-sharing">
    <a href="https://github.com/tanhengyeow/gsoc-2018/blob/master/Tan_Heng_Yeow/progress.md" target="_blank">Implementing a spreadsheet interface to improve the UX of TEAMMATES</a>
  </h2>
  <h2 class="knowledge-sharing">
    <a href="https://docs.google.com/presentation/d/1YMoYRXaRrVnNnNCi6sGI3bqblOCpAyE_OssHR7-gHQM/edit#slide=id.gc6f73a04f_0_0" target="_blank">Introduction to Web Security</a>
  </h2>
</div>
